html,
body,
#root {
    height: 100%;
    margin: 0;
}

.grid-container {
  display: grid;
  width: 700px;
  height:  400px;
  grid-template-rows: 90px 200px 90px;
  grid-template-columns: 340px 340px;
  column-gap: 20px;
  row-gap: 20px;
  /*grid-row-start: 2;
  grid-row-end: span 2;
  grid-template-rows: [row1-start] 100px [row1-end] 200px [third-line] 100px*/
}

/*.flex-container>:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
} */

div {
  /*color: #DDA520;*/
  background-color: #DAA520;
  /*width: 340px;*/
  }
